/* ------------------ COLORS ----------------- */
/*
	Scarlett	#8c1717
	Gray		#fff0ec
	White		#fff
	Black		#000
*/

/* ---------------- TOP LEVEL ---------------- */
html, body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background: #8c1717;
	font-size: 16px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	padding-top: 2ex;
}

h1 { font-size: 145%; }
h2 { font-size: 115%; }
h3 { font-size: 105%; }
h4 { font-size: 100%; }
h5 { font-size: 95%; }

table {
	border-spacing: 0px;
	border-collapse: separate;
	font-family: 'Roboto', sans-serif;
}

caption { display: none; }
ul { list-style-type: square; }

a,
a:link,
a:visited {
	text-decoration: none;
	color: #8c1717;
}

a.active,
a:hover {
	text-decoration: underline;
	color: #000;
}

.info { font-weight: bold; }
.center { text-align: center; }

/* ---------------- NAVIGATION --------------- */
.headerBar {
	background: #fff;
	max-width: 100%;
	border-top: 1px solid #8c1717;
	border-bottom: 1px solid #8c1717;
	padding: 7px;
	font-size: smaller;
	margin-bottom: 15px;
}

.navBar { float: left; }
.userBar { text-align: right; }

ul.nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

li.nav-item {
	display: inline-block;
	max-width: 100%;
	margin-right: 2px;
}

li.nav-item a.active {
	text-decoration: none;
	font-weight: bold;
}

li a { display: block; }

/* ----------------- HEADER ------------------ */
.header {
	color: #fff;
	background: #8c1717;
	margin: 0 auto;
	padding: 0;
	max-width: 98%;
}

.header h1 {
	font-size: 125%;
	padding: 10px 20px;
	margin: 10px 0;
}

.headerImage {
	background-image: url(images/sample.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 250px;
	max-width: 98%;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 0;
	border-top: 1px solid #8c1717;
	border-bottom: 1px solid #8c1717;
}

/* ------------------- BODY ------------------ */
/* TOP LEVEL */
.outerBody {
	margin-top: 5.5em;
	background: #fff;
}

.innerBody {
	max-width: 1000px;
	margin: 0 auto;
}

.content {
	max-width: 98%;
	margin: 0 auto;
	padding-bottom: 32px;
}

/* PROBLEMS */
.problemList { line-height: 2em; }

.code {
	margin-left: 1em;
	padding: 1em 1em 1em 3em;
	text-indent: -2em;
	font-family: monospace;
	font-size: 90%;
	line-height: 1.25em;
}

.r {
	color: #000099;
	background-color: #fff9cc;
	border-top:	1px groove tan;
	border-left: 1px groove tan;
	border-bottom: 1px ridge tan;
	border-right: 1px ridge tan;
}

.excel {
	color: #000099;
	background-color: #eeffee;
	border-top:	1px groove #008800;
	border-left: 1px groove #008800;
	border-bottom: 1px ridge #008800;
	border-right: 1px ridge #008800;
}

.highlight {
  background-color: #ffff33;
  padding: 4px;
}

.statTerm, abbr {
  font-weight: bold;
  border-bottom: 1px dotted #171717;
  cursor: help;
}

.guessRegion {
  width: 80%;
  margin: 0 auto;
  border-radius: 25px;
  border: 1px solid #178c17;
  padding: 20px;
  background-color: aliceblue;
}

.guessRegion input[type="number"] {
	padding: 0 1em;
	margin-left: 1em;
	border: 0;
	border-bottom: 1px solid grey;
	text-align: center;
	width: 10em;
	background-color: transparent;
}

.guessRegion input[type="submit"] {
	margin: 0 1em;
	border-radius: 15px;
	padding: 1em;
}

/* USER PROFILE */
.user { border-bottom: 1px solid grey; }
.correct { color: green; }
.incorrect { color: red; }

.results {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

.result {
	flex: 1 1 33%;
	margin: 1em;
	border-radius: 15px;
	border: 1px solid grey;
	background-color: #fff0ec;
	padding: 1em;
	min-height: 200px;
	align-items: center;
	justify-content: center;
	display: flex;
}

.result * { padding: 0; }


/* ------------------ FOOTER ----------------- */
.footerBar {
	background-color: #fff0ec;
	padding: 1em;
	font-size: 70%;
	color: #8c1717;
	border-top: 1px solid #8c1717;
	margin-bottom: 5.5em;
}