<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}{% endblock %}Sample Statistics</title>
    <!-- Fav Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="http://statistics.kvasaheim.com/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://statistics.kvasaheim.com/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://statistics.kvasaheim.com/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://statistics.kvasaheim.com/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://statistics.kvasaheim.com/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://statistics.kvasaheim.com/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://statistics.kvasaheim.com/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://statistics.kvasaheim.com/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://statistics.kvasaheim.com/apple-touch-icon-180x180.png">

    <link rel="icon" type="image/png" href="http://statistics.kvasaheim.com/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="http://statistics.kvasaheim.com/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="http://statistics.kvasaheim.com/favicon-96x96.png" sizes="96x96">

    <link rel="icon" type="image/png" href="http://statistics.kvasaheim.com/android-chrome-192x192.png" sizes="192x192">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'samplestatistics/main.css' %}" media="all">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:600&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin,latin-ext,greek" rel="stylesheet" type="text/css">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

    <!-- MathJax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML" async></script>

    <!-- Custom JS -->
    <script type="text/javascript" src="{% static 'samplestatistics/functions.js' %}"></script>
    {% block customhead %}
    {% endblock %}
</head>
<body>
    <div class="outerBody">
        <div class="headerBar">
            <div class="navBar">
                <ul class="nav">
                    <li class="nav-item">You are here:</li>
                    <li class="nav-item"><a href="{% url 'samplestatistics:home' %}">Project Scarlet</li></a>
                    {% block nav %}
                    {% endblock %}
                </ul>
            </div>
            <div class="userBar">
                <ul class="nav">
                    <li class="nav-item">   
                        {% now "h:i a e" %} on {% now "l, F d, Y" %}
                    </li>
                    <li class="nav-item">||</li>
                    {% if user.is_authenticated %}
                    {% if user.is_staff %}<li class="nav-item"><a href="{% url 'admin:index' %}">Admin</a></li>{% endif %}
                    <li class="nav-item"><a href="{% url 'samplestatistics:user_profile' user.username %}">{{ user.first_name }}</li>
                    <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'social:begin' 'google-oauth2' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="innerBody">
            <div class="header">
                <h1>Sample Statistics</h1>
            </div>
            <div class="headerImage"></div>
            <div class="content">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    <div class="footerBar">
        © Ole J. Forsberg, Ph.D. {% now "Y" %}. All rights reserved.
    </div>
</body>
</html>