{% extends 'samplestatistics/base.html' %}

{% block nav %}
                    <li class="nav-item">»</li>
                    <li class="nav-item"><a href="{% url 'samplestatistics:problem_detail' problem.id %}" active>{{ problem.title }}</a></li>
                    <li class="nav-item">»</li>
                    <li class="nav-item"><a href="{% url 'samplestatistics:problem_answer' problem.id answer.id %}" active>Answer</a></li>
{% endblock %}

{% block content %}
<h1>{{ problem.title }}</h1>
<h2>Submitted {{ answer.date }}</h2>
<h3>{{ answer.problem.numbers }}</h3>
<p>Answered: {{ answer.answer }} {% if answer.correct %}CORRECT{% else %}INCORRECT</p>
<p>Solution: {{ answer.problem.answer }}</p>{% endif %}
<br><br>
{% endblock %}