{% extends 'samplestatistics/base.html' %}
{% block nav %}
                    <li class="nav-item">»</li>
                    <li class="nav-item">User</li>
                    <li class="nav-item">»</li>
                    <li class="nav-item"><a href="{% url 'samplestatistics:user_profile' u.username %}" active>{{ u.username }}</a></li>
{% endblock %}

{% block content %}
<h1>{{ u.first_name }} {{ u.last_name }} ({{ u.username }})</h1>

{% for answer in answers %}
    <h2>{{ forloop.counter }}: {{ answer.problem.problem.title }}</h2>
    <h3>{{ answer.problem.numbers }}</h3>
    <h3>{{ answer.date }}</h3>
    <p>Answered: {{ answer.answer }} {% if answer.correct %}CORRECT{% else %}INCORRECT</p>
    <p>Solution: {{ answer.problem.answer }}</p>{% endif %}
    <br><br>
{% endfor %}
{% endblock %}