{% extends 'kvasaheim/base.html' %}
{% block nav %}
                    {% if rpk %}
                    <li class="nav-item">»</li>
                    <li class="nav-item"><a href="{% url 'kvasaheim:home' rpk=rpk %}" active>{{ realms.first }}</a></li>
                    {% endif %}
                    {% if cpk %}
                    <li class="nav-item">»</li>
                    <li class="nav-item"><a href="{% url 'kvasaheim:home' cpk=cpk %}" active>{{ categories.first }}</a></li>
                    {% endif %}
{% endblock %}

{% block content %}
{% for realm in realms %}
<h1>{{ realm.title }}</h1>
<p>{{ realm.text }}</p>
<ul>
    {% for category in categories %}
    {% ifequal category.realm realm %}
    <h2>{{ category.title }}</h2>
    <ul class="problemList">
    	{% for problem in problems %}
	    	{% ifequal problem.category category %}
	        <li><a href="{% url 'kvasaheim:problem_detail' pk=problem.pk %}">{{ problem.title }}</a></li>
	        {% endifequal %}
        {% empty %}
	        <p>No problems published in this category.</p>
        {% endfor %}
    </ul>
    {% endifequal %}
    {% empty %}
    <h2>No categories published in this realm.</h2>
    {% endfor %}
</ul>
{% empty %}
<h1>All realms offline.</h1>
{% endfor %}
{% endblock %}