/*
		COLORS
	Scarlett	#8c1717
	White		#fff
	Gray		#fff0ec
*/

/* ---------------- TOP LEVEL ---------------- */
html, body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background: #8c1717;
	font-size: 16px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	padding-top: 2ex;
}

h1 { font-size: 145%; }
h2 { font-size: 115%; }
h3 { font-size: 105%; }
h4 { font-size: 100%; }
h5 { font-size:  95%; }

table {
  border-spacing: 0px;
  border-collapse: separate;
  font-family: 'Roboto', sans-serif;
}

caption { display: none; }

/* ---------------- NAVIGATION --------------- */
.headerBar {
	background: #fff;
	max-width: 100%;
	border-top: 1px solid #8c1717;
	border-bottom: 1px solid #8c1717;
	padding: 7px;
	font-size: smaller;
	margin-bottom: 15px;
}

.navBar {
	float: left;
}

.userBar {
	text-align: right;
}

ul.nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

li.nav-item {
	display: inline-block;
	max-width: 100%;
	margin-right: 2px;
}

li a {
	display: block;
}

/* ----------------- HEADER ------------------ */
.header {
	color: #fff;
	background: #8c1717;
	margin: 0;
	padding: 0;
}

.header h1 {
	font-size: 125%;
	padding: 10.46px 20px;
	margin: 10.46px 0;
}

.headerImage {
	background-image: url(images/sample.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 250px;
	width: 100%;
	margin-bottom: 10px;
	padding: 0;
	border-top: 1px solid #8c1717;
	border-bottom: 1px solid #8c1717;
}

/* ------------------- BODY ------------------ */
.outerBody {
	margin-top: 5.5em;
	background: #fff;
}

.innerBody {
	max-width: 1000px;
	margin: 0 auto;
}

.content {
	max-width: 950px;
	margin: 0 auto;
	padding-bottom: 32px;
}

/* ------------------ FOOTER ----------------- */
.footerBar {
	background-color: #fff0ec;
	padding: 1em;
	font-size: 70%;
	color: #8c1717;
	border-top: 1px solid #8c1717;
}