/*
    ss_screen.css
*/

html, body, img {
    margin: 0;
    border: 0;
    padding: 0;
}



body {
  width: 100%;
}




#body2 {
  max-width: 1000px;
  margin: 0 auto;
}



.hidden {
  background-color: #eeeeee;
  color: #eeeeee;
  padding: 4px 1em;
  cursor: help;
}
.hidden:hover { 
  background-color: #ffffff;
  color: #000066;
}


.phoneOnly { display: none; }

 
/*  
            Heading Area
*/











    
/*
            Content area
*/









/*
        Footer
*/





